<div class= "fixed">
  <nav class>
     <div class="twelve columns header_nav">
     <div class="row">
        <ul id="menu-header" class="nav-bar horizontal left">
        <li class="active"><%= link_to "theIvyRoad", root_path %></li>
        </ul>
        <ul id="menu-header" class="nav-bar horizontal right">
        <!--
          <li class="has-flyout">
           <a href="#">Example Pages</a><a href="#" class="flyout-toggle"></a>
            <ul class="flyout">
              <li class="has-flyout"><a href="blog.html">Blog</a></li>
              <li class="has-flyout"><a href="blog_single.html">Blog Single Page</a></li>
              <li class="has-flyout"><a href="products-page.html">Products Page</a></li>
              <li class="has-flyout"><a href="product-single.html">Product Single</a></li>
              <li class="has-flyout"><a href="pricing-table.html">Pricing Table</a></li>
              <li class="has-flyout"><a href="contact.html">Contact Page</a></li>
            </ul> 
          </li>-->
        
          <li class=""><a href="#">Pricing</a></li>
          <li class=""><a href="#">Find a Mentor</a></li>
          <li class=""><a href="#">Become a Mentor</a></li>
      
        </ul>
        
        <script type="text/javascript">
         //<![CDATA[
         $('ul#menu-header').nav-bar();
          //]]>
        </script>
        
      </div>  
      </div>
  </nav>
</div>
      
      
<!-- ######################## Header ######################## -->
        <header>
          <h1 class="heading_supersize">Get on the road to <br>an Ivy League School.
          <br> <a href="#" class="button-splash">Find a mentor now!</a>
          </h1>
          
        </header>
<!-- ######################## Section ######################## -->

<section class="section_main">

      <h2 style="text-align:center">Current Ivy League students can tell you best 
        <br>what their school’s admissions are looking for.</h2>
      
        

      <div class="row">
      
          <article class="six columns">
                <div class="panel">
                    <h3>Lorem Ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus fermentum metus, id commodo sapien. Donec cursus fermentum metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus fermentum metus, id commodo sapien. Donec cursus fermentum metus.</p>
                  <a href="#" class="button secondary small radius">Learn More &raquo;</a>
                </div>
          </article>
          
              
          <article class="six columns">
                <div class="panel">
                    <h3>Lorem Ipsum</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus fermentum metus, id commodo sapien. Donec cursus fermentum metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus fermentum metus, id commodo sapien. Donec cursus fermentum metus.</p>
                  <a href="#" class="button secondary small radius">Learn More &raquo;</a>
                </div>
          </article>
  
      </div>
      
      
</section>

<!-- ######################## Section ######################## -->
     
   <section class="section_light">
   
        <div class="row">
        
         <div class="four columns">
            <h3><span class="dropcap_red lsf-icon-dropcap" title="camera"></span> Photo Community</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc viverra, lacus id interdum ultrices, elit metus semper tellus, vel lacinia libero purus vitae risus.</p>
         </div>
         
      
          <div class="four columns">
            <h3><span class="dropcap_black lsf-icon-dropcap" title="cloud"></span> Upload Photos</h3>
            <p> Vivamus tortor tellus, rutrum sit amet mollis vel, imperdiet consectetur orci. Mauris pharetra congue enim, et sagittis lectus congue ut. Cum sociis natoque penatibus.</p>
          </div>
          
          
          <div class="four columns">
            <h3><span class="dropcap_black lsf-icon-dropcap" title="video"></span> Video Tutorials</h3>
            <p>Sed vitae nisi leo. Nulla tincidunt, turpis non gravida pharetra, diam sapien posuere massa, non luctus leo mauris at sapien. Donec ut fermentum eros.</p>
          </div>
        
        </div>
        
    </section>

<!-- ######################## Section ######################## -->
<!--
   <section  class="section_dark">
   
      <div class="row"> 
      
      <h2>Latest Photos by Our Members</h2>
      
          <div class="two columns">
          <a href="#" class="th"><%= image_tag("thumb1.jpg", size: "100") %></a>
          </div>
          
          <div class="two columns">
          <a href="#" class="th"><%= image_tag("thumb2.jpg", size: "100") %></a>
          </div>
          
          <div class="two columns">
          <a href="#" class="th"><%= image_tag("thumb3.jpg", size: "100") %></a>
          </div>
          
          <div class="two columns">
          <a href="#" class="th"><%= image_tag("thumb4.jpg", size: "100") %></a>
          </div>
          
          <div class="two columns">
          <a href="#" class="th"><%= image_tag("thumb5.jpg", size: "100") %></a>
          </div>
          
          <div class="two columns">
          <a href="#" class="th"><%= image_tag("thumb6.jpg", size: "100") %></a>
          </div>

      
      </div>
      
    </section>
-->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- ######################## Footer ######################## -->  
      
<footer>

      <div class="row">
      
          <div class="twelve columns footer">
              <a href="http://twitter.com/dieterarno" class="lsf-icon" style="font-size:16px; margin-right:15px" title="twitter">Twitter</a> 
              <a href="http://csstemplateheaven.com/csstemplateheaven" class="lsf-icon" style="font-size:16px; margin-right:15px" title="facebook">Facebook</a>
              <a href="http://csstemplateheaven.com/csstemplateheaven" class="lsf-icon" style="font-size:16px; margin-right:15px" title="pinterest">Pinterest</a>
              <a href="http://twitter.com/dieterarno" class="lsf-icon" style="font-size:16px" title="instagram">Instagram</a>
          </div>
          
      </div>

</footer>    