<div class="heading pricing">

<h1 class="welcome_text white">
  Edit Profile Information
</h1>
<h3 class="white" style="text-align:center; margin: 10px 0 0 0">
  <br><br>
</h3>
</div>

<div class="pricing-background">
<div class="row" style="padding-top:0">
  <div class="three columns"></div>
  <div class="six columns">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <% if !resource.errors.empty? %>
      <div class="alert-box alert">
      <%= devise_error_messages! %>
      </div>
      <% end %>

      <div><%= f.label :email, :class => "label-signup" %><br />
      <%= f.email_field :email, autofocus: true %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div><%= f.label :password, :class => "label-signup" %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %></div>

      <div><%= f.label :password_confirmation, :class => "label-signup" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

      <div><%= f.label :current_password, :class => "label-signup" %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %></div>
      <br><br>
      <div><%= f.submit "Update", class: "button-buy" %></div>
    <% end %>
  </div>
  <div class="three columns"></div>

</div>
</div>

<!--
    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
-->

