<div class="heading pricing">
<h1 class="welcome_text white">
  Welcome back. &#9786;
</h1>
<h3 class="white" style="text-align:center; margin: 10px 0 0 0">
  <br><br>
</h3>
</div>


	<div class="pricing-background">
	<div class="row" style="padding-top:0">
		<div class="three columns"></div>
		<div class="six columns">

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div><%= f.label :email, :class => "label-signup" %><br />
		  <%= f.email_field :email, autofocus: true %></div>

		  <div><%= f.label :password, :class => "label-signup" %><br />
		    <%= f.password_field :password, autocomplete: "off" %></div>

		  <% if devise_mapping.rememberable? -%>
		  <div class="row">
		    <div class="one column">
		    	<div class="squaredFour">
		    		<%= f.check_box :remember_me %>
		    		<label for="user_remember_me"></label>
		    	</div>
		    </div>
		    <div class="four columns"><%= f.label :remember_me, style: "margin-top: 20px; font-size:25px" %></div>
		    <div class="seven columns"></div>
		    </div><br>
		  <% end -%>

		  <div><%= f.submit "Sign in", class: "button-buy" %></div>
		<% end %>

		<%= render "devise/shared/links" %>

	</div>
	<div class="three columns"></div>

</div>
</div>
