<div class= "fixed">
  <nav class>
     <div class="twelve columns header_nav">
     <div class="row">
        <ul id="menu-header" class="nav-bar horizontal left">
        <li class="active"><%= link_to "theIvyRoad", root_path %></li>
        </ul>
        <ul id="menu-header" class="nav-bar horizontal right">
        <!--
          <li class="has-flyout">
           <a href="#">Example Pages</a><a href="#" class="flyout-toggle"></a>
            <ul class="flyout">
              <li class="has-flyout"><a href="blog.html">Blog</a></li>
              <li class="has-flyout"><a href="blog_single.html">Blog Single Page</a></li>
              <li class="has-flyout"><a href="products-page.html">Products Page</a></li>
              <li class="has-flyout"><a href="product-single.html">Product Single</a></li>
              <li class="has-flyout"><a href="pricing-table.html">Pricing Table</a></li>
              <li class="has-flyout"><a href="contact.html">Contact Page</a></li>
            </ul> 
          </li>-->
        
          <li><%= link_to "Pricing", pricing_path %></li>
          <li><%= link_to "Find a Mentor", mentors_path %></li>
          <li><a href="#">Become a Mentor</a></li>

          <% if user_signed_in? %>
            <li class="has-flyout">
              <% if current_user.has_role? :mentor %>
              <%= link_to "Account", "/profile/#{current_user.slug}" %>
              <% else %>
              <%= link_to "Account", edit_user_registration_path %>
              <% end %>
              <ul class="flyout">
                <% if current_user.has_role? :mentor %>
                <li class="has-flyout"><%= link_to "Profile", "/profile/#{current_user.slug}" %></li>
                <% end %>
                <li class="has-flyout"><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li class="has-flyout">
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
      
        </ul>
        
        <script type="text/javascript">
         //<![CDATA[
         $('ul#menu-header').nav-bar();
          //]]>
        </script>
        
      </div>  
      </div>
  </nav>
</div>