<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    
    <%= stylesheet_link_tag    "application", media: "all" %>
        
    <!--<%= javascript_include_tag "vendor/modernizr" %>-->
    <%= csrf_meta_tags %>

  </head>
  <div id="wrap">
    <%= render 'layouts/nav' %>
    <% if (params[:action] == "show" && params[:controller] == "users") %>
      <div class="profile-body" style="margin:0">
    <% end %>
        <body>    
          <%= yield %>
          <%= javascript_include_tag "application" %>
        </body>
    <% if (params[:action] == "show" && params[:controller] == "users") %>
      </div>
    <% end %>
  </div>

  <%= render 'layouts/footer' unless ((!current_user.nil? && (current_user.has_role? :mentor)) && current_page?('/users/edit')) %>

</html>
