<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "IvyRocket | Admissions Help" %></title>
    
    <%= stylesheet_link_tag    "application", media: "all" %>
        
    <!--<%= javascript_include_tag "vendor/modernizr" %>-->
    <%= csrf_meta_tags %>

  </head>
  <div id="wrap">
    <%= render 'layouts/nav' %>
    <% if ((((((params[:action] == "show" && params[:controller] == "users") || (params[:action] == "new" && params[:controller] == "orders")) || (params[:action] == "index" && params[:controller] == "users")) || (params[:action] == "about_us" && params[:controller] == "static_pages")) || (params[:action] == "disclaimer" && params[:controller] == "static_pages")) || (params[:action] == "our_team" && params[:controller] == "static_pages")) || (params[:action] == "become_mentor" && params[:controller] == "static_pages")%>
      <div class="profile-body" style="margin:0">
    <% end %>
        <body>    
          <%= yield %>
          <%= javascript_include_tag "application" %>
        </body>
    <% if ((((((params[:action] == "show" && params[:controller] == "users") || (params[:action] == "new" && params[:controller] == "orders")) || (params[:action] == "index" && params[:controller] == "users")) || (params[:action] == "about_us" && params[:controller] == "static_pages")) || (params[:action] == "disclaimer" && params[:controller] == "static_pages")) || (params[:action] == "our_team" && params[:controller] == "static_pages")) || (params[:action] == "become_mentor" && params[:controller] == "static_pages")%>
      </div>
    <% end %>
    <!--<%= debug(params) if Rails.env.development? %>-->
  </div>

  <%= render 'layouts/footer' unless ((!current_user.nil? && (current_user.has_role? :mentor)) && current_page?('/users/edit')) %>

</html>
