<div class="heading pricing">

<h1 class="welcome_text white">
  Sign Up
</h1>
<h3 class="white" style="text-align:center; margin: 10px 0 0 0">
  You must have an account in order to contact mentors.<br><br>
</h3>
</div>

<div class="pricing-background">
<div class="row" style="padding-top: 20px">
	<div class="three columns"></div>
	<div class="six columns">

		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <% if !resource.errors.empty? %>
		  <div class="alert-box alert">
		  <%= devise_error_messages! %>
		  </div>
		  <% end %>
		
		  <div><%= f.label :email, :class => "label-signup" %><br />
		  <%= f.email_field :email, autofocus: true %></div>
			
			<div><%= f.label :name, :class => "label-signup" %><br />
          <%= f.text_field :name %></div>

		  <div><%= f.label :password, :class => "label-signup" %><br />
		    <%= f.password_field :password, autocomplete: "off" %></div>

		  <div><%= f.label :password_confirmation, :class => "label-signup" %><br />
		    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>
			<br><br>
		  <div><%= f.submit "Sign up", class: "button-buy" %></div>
		<% end %>

		<!--<%= render "devise/shared/links" %>-->
	</div>
	<div class="three columns"></div>

</div>
</div>